---
title: Default title
nav_group: default
# There should be a list tabs, and a link_prefix as well in inheriting files
# There is an automatic nav-link created with name 'origin_name' that leads to 'link_prefix'
# Checkout index.liquid for examples
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - JurassikLizard</title>
    <link rel="stylesheet" href="/blog/css/retro.css">
    <link rel="stylesheet" href="/blog/css/prism-darcula.css">
    <style>
      ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li.nav-item {
        float: left;
      }

      li.nav-logo {
        float: right;
      }

      a.nav-link {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      /* Change the link color to #111 (black) on hover */
      a.nav-link:hover {
        color: #fafafa;
        background-color: #222;
      }

      .active {
        background-color: #111;
      }
    </style>
  </head>
  <body>
    <ul class="navbar">
      {% assign nav_link_data = navdata[nav_group] %}
      <li class="nav-item">
        <a {% if page.url == nav_link_data.url %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %}href={{nav_link_data.url}}>{{ nav_link_data.name }}</a>
      </li>
      {% for tab in nav_link_data.tabs %}
        <li class="nav-item">
          {% assign prefixed_tab = nav_link_data.url | append: tab | append: '/' %}
          <a {% if page.url == prefixed_tab %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %}href={{prefixed_tab}}>{{ tab | capitalize }}</a>
        </li>
      {% endfor %}
      <!-- <li class="nav-item">
      <a {% if page.url == "/" %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %} href="/">Home</a>
      </li>
      <li class="nav-item">
      <a {% if page.url == "/about/" %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %}href="/about">About</a>
      </li>
      <li class="nav-item">
      <a {% if page.url == "/archive/" %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %}href="/archive">Archives</a>
      </li>-->
      <li class="nav-logo">
        <a {% if page.url == "/" %}class="nav-link active"aria-current="page"{% else %}class="nav-link"{% endif %}href="/">JurassikLizard</a>
      </li>
    </ul>

    <h1>{{ title }}</h1>

    {{ content }}
  </body>
</html>