---
pagination:
  data: collections.post
  size: 6
  alias: posts
  reverse: true
title: Archive
layout: main
---

<!-- <h2>Post Archive</h2> -->

{% for post in posts %}
  <p>
    <a href="{{post.url}}">{{ post.data.title }}</a>
    - {{ post.date | niceDate }}<br/>
    {% excerpt post %}
  </p>
{% endfor %}

<p>
  <blockquote>
    {% if pagination.href.previous %}
      <a href=" {{ pagination.href.previous }}">Previous</a>
    {% else %}
      Previous
    {% endif %}
    /
    {% if pagination.href.next %}
      <a href=" {{ pagination.href.next }}">Next</a>
    {% else %}
      Next
    {% endif %}
  </blockquote>
</p>